/* ================= BODY STYLING ================= */

body {
	font-family: 'PT Sans', sans-serif;
	color: #666;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 28px;
	color: #2C999A;
}

p {
	font-size: 20px;
	font-style: italic;
}

.logo {
	height: 125px;
}

.grey-container {
	width: 100%;
	background-color: #CCC;
}

section {
	margin: 15px 0px 15px 0px;
}

/* ================ NAVBAR STYLING ================ */
nav {
	width: 1296px;
	margin: 0px auto;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.nav-logo {
	float: left;
}

.nav-menu {
	float: right;
	padding-top: 40px;
}

.main-menu li {
	display: inline-block;
	position: relative;
}

.main-menu > li:nth-child(-n+3) {
	border-right: 1px solid #2C999A;
}

.main-menu a {
	color: #2C999A;
	text-decoration: none;
	font-size: 22px;
	padding: 0px 35px 0px 35px;
}

.main-menu a:hover {
	color: #999;
}

.main-menu li {
	list-style: none;
}

.main-menu li:hover > ul {
	display: block;
}

.sub-menu {
	display: none;
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 0px;
	padding: 0px;
	border: 1px solid #666;
	background-color: #FFF;
}

.sub-menu li {
	border-bottom: 1px solid #666;
	display: block;
}

.sub-menu a {
	color: #666;
	text-decoration: none;
	font-size: 16px;
	font-style: italic;
	display: block;
	padding: 10px;
	width: auto;
}

.sub-menu a:hover {
	background-color: #2C999A;
	color: white;
}

.show-nav {
	display: none;
	text-decoration: none;
	font-size: 22px;
	color: #666;
	background: #FFF;
	border: 1px solid #666;
	text-align: center;
	padding: 10px 0;
}

input[type=checkbox]{
  display: none;
}

input[type=checkbox]:checked ~ .main-menu{
  display: block;
}

/* ================ TICKER STYLING ================ */

.ticker {
	width: 100%;
	height: auto;
	background-color: #99CCCC;
	border: 1.5px solid #666;
	padding-bottom: 10px;
}

.bxslider li {
	height: 100%;
	border-left: 1px solid #666;
	padding: 10px 25px 25px 25px;
	text-align: center;
}

/* ========== BIRDS OF THE MONTH STYLING ========== */

.birds-title {
	padding-top: 0px;
	padding-bottom: 0px;
}

.birds-title h2 {
	margin: 0px;
}

/* ================ FOOTER STYLING ================ */

footer p {
	font-style: normal;
	font-size: 16px;
}

.footer-logo {
	position: absolute;
	margin-top: 5%;
}

.footer-nav {
	padding: 0px;
	margin-bottom: 35px;
}

.footer-nav > li {
	list-style: none;
	display: inline-block;
}

.footer-nav > li > a {
	text-decoration: none;
	color: #666;
	font-size: 20px;
	padding: 0px 15px 0px 15px;
}

.footer-nav > li > a:hover {
	text-decoration: none;
	color: #2C999A;
}

.footer-nav > li:first-child a {
	padding-left: 0px;
}

.footer-nav > li:nth-child(-n+3) {
	border-right: 1px solid #666;
}

/* ================ MEDIA QUERIES ================ */

@media(max-width:768px){

	/* NAVBAR */
	nav {
		width: 100%;
		text-align: center;
	}

	.nav-logo, .nav-menu {
		float: none;
	}

	.main-menu {
		display: none;
		position: static;
		padding: 0px;
	}

	.main-menu li {
		width: 100%;
	}

	.main-menu li:nth-child(-n+3) {
		border-right: none;
	}

	.main-menu > li > a:hover {
		background-color: #CCC;
		color: #FFF;
	}

	.sub-menu {
		position: inherit;
		margin: 0px auto;
		border: none;
		width: 45%;
		text-align: left;
	}

	.show-nav {
		display: block;
	}

	/* SECTIONS */
	.grey-container iframe {
		width: 100%;
	}

	.featured img {
		width: 100%;
	}

	.bird-img img {
		width: 100%;
	}

	/* FOOTER */
	footer {
		text-align: center;
	}

	.footer-logo {
		position: initial;
	}

	.footer-nav > li {
		display: block;
	}

	.footer-nav > li > a {
		padding: 0px;
	}

	.footer-nav > li:nth-child(-n+3) {
		border-right: none;
	}
}