/* BODY STYLING */

body {
	font-family: 'PT Sans', sans-serif;
	color: #666;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 28px;
	color: #2C999A;
}

p {
	font-size: 20px;
	font-style: italic;
}

.logo {
	height: 125px;
}

/* SECTION STYLING */

section {
	margin: 15px 0px 15px 0px;
}

/* TICKER STYLING */

.ticker {
	width: 100%;
	height: auto;
	background-color: #99CCCC;
	border: 1.5px solid #666;
	padding-bottom: 10px;
}

.bxslider li {
	height: 100%;
	border-left: 1px solid #666;
	padding: 10px 25px 25px 25px;
	text-align: center;
}

/*@media(max-width:768px){
	.video iframe {
		width: 100%;
	}
}*/

/* VIDEO CONTENT STYLING */
.video {
	width: 100%;
	background-color: #CCC;
}

@media(max-width:768px){
	.video iframe {
		width: 100%;
	}
}

@media(max-width:480px){
	.video iframe {
		width: 100%;
	}
}

/* FEATURED CONTENT STYLING */

@media(max-width:768px){
	.featured img {
		width: 100%;
	}
}

@media(max-width:480px){
	.featured img {
		width: 100%;
	}
}

/* BIRDS OF THE MONTH STYLING */

.birds-title {
	padding-top: 0px;
	padding-bottom: 0px;
}

.birds-title h2 {
	margin: 0px;
}

@media(max-width:768px){
	.bird-img img {
		width: 100%;
	}
}

@media(max-width:480px){
	.bird-img img {
		width: 100%;
	}
}

/* FOOTER STYLING */

footer {
	width: 100%;
	background-color: #CCC;
}

footer p {
	font-style: normal;
	font-size: 16px;
}

.footer-logo {
	position: absolute;
	margin-top: 5%;
}

.footer-nav {
	padding: 0px;
	margin-bottom: 35px;
}

.footer-nav > li {
	list-style: none;
	display: inline-block;
}

.footer-nav > li > a {
	text-decoration: none;
	color: #666;
	font-size: 20px;
	padding: 0px 15px 0px 15px;
}

.footer-nav > li:first-child a {
	padding-left: 0px;
}

.footer-nav > li:nth-child(-n+3) {
	border-right: 1px solid #666;
}

@media(max-width:768px){
	footer iframe {
		width: 100%;
	}

	footer {
		text-align: center;
	}

	.footer-logo {
		position: initial;
	}

	.footer-nav > li {
		display: block;
		text-align: center;
	}

	.footer-nav > li > a {
		padding: 0px;
	}

	.footer-nav > li:nth-child(-n+3) {
		border-right: none;
	}
}

@media(max-width:480px){
	footer iframe {
		width: 100%;
	}

	.footer-logo {
		position: initial;
	}

	.footer-nav > li {
		display: block;
	}

	.footer-nav > li > a{
		padding: 0px;
	}

	.footer-nav > li:nth-child(-n+3) {
		border-right: none;
	}
}